{% extends 'base.html' %}

{% block title %}Strona Domowa{% endblock %}

{% block content %}

<div id="content">

<br><br>

<h1>Witamy w naszym sklepie on-line</h1>
<h2>Przeszukaj artykuły</h2><br>

<form action="?" method="GET" onsubmit="search();return false;">
	<input type="text" id="searchItem" value=""/>
	<input class="button" type="submit" value="Search" />
</form>

<br><br>

<table id="results">
<tr>
    <th>Nazwa</th>
    <th>Ilość</th>
    <th>Cena</th>
</tr>
</table>

<p id="stat"></p>

</div>
{% endblock %}
